/* App.css
   This file is left mostly empty since we're using CSS Modules
   for scoped styling. This file can be used for app-level styles if needed.
*/

.appScreen {
   width: 100%;
   height: 100vh;
   opacity: 1;
   transition: opacity 0.45s ease-in-out;
}

.appScreen.fadeOut {
   opacity: 0;
}

.appScreen.fadeIn {
   opacity: 1;
}
